.rotate {
    transform: rotate(45deg);
  }




  .fullScreen{
    width:100vw;
    height: 100vh;
  }
  .position2 {
    transform: translateX(100%);
}
.navbar-position-top{
  position: absolute;
  top: 5%;
  width: 100%;
}