:root { 
--gray_900_14:#100a2714; 
--black_900_3d:#0000003d; 
--blue_gray_500_b2:#64748bb2; 
--red_300_16:#c3937c16; 
--red_600:#e94235; 
--gray_100_e5:#fbf8f1e5; 
--red_300_93:#c3937c93; 
--gray_800_01:#3d3d3d; 
--red_400:#f43f5e; 
--black_900_3f:#0000003f; 
--black_900_42:#00000042; 
--black_900_01:#090909; 
--white_A700_14:#ffffff14; 
--yellow_800:#f79e1b; 
--light_green_600:#67c23a; 
--white_A700_ab:#ffffffab; 
--red_300_3d:#c3937c3d; 
--black_900_07:#00000007; 
--gray_200_01:#e5e7eb; 
--blue_gray_900_02:#1e293b; 
--blue_gray_900_01:#292d32; 
--blue_gray_700:#4b5563; 
--blue_gray_900:#363636; 
--black_900_02:#000008; 
--red_A700:#eb001b; 
--black_900_49:#00000049; 
--white_A700_8b:#ffffff8b; 
--gray_600:#787878; 
--black_900_4c:#0000004c; 
--gray_400:#bebbbb; 
--blue_900:#1434cb; 
--blue_gray_100:#d9d9d9; 
--blue_gray_300:#9ca3af; 
--white_A700_0a:#ffffff0a; 
--gray_800:#59391b; 
--red_300_23:#c3937c23; 
--blue_gray_500:#64748b; 
--black_900_c9:#000000c9; 
--black_900_0f:#0000000f; 
--red_300_0f:#c3937c0f; 
--gray_200:#f0f0f0; 
--black_900_54:#00000054; 
--gray_100_02:#f3f4f6; 
--black_900_99:#00000099; 
--black_900_11:#00000011; 
--gray_400_01:#c9c6c6; 
--gray_400_02:#b1b1b1; 
--gray_100_01:#f3f3f3; 
--gray_400_03:#c3c3c3; 
--black_900_51:#00000051; 
--lime_50:#f9f6ed; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--red_300_35:#c3937c35; 
--deep_orange_50:#f5ede9; 
--blue_gray_50:#f1f1f1; 
--blue_gray_100_01:#d1d5db; 
--light_green_100:#ead9c9; 
--red_300:#c3937c; 
--light_blue_600:#179bd7; 
--red_300_30:#c3937c30; 
--gray_50:#f9fafb; 
--gray_100_ad:#fbf8f1ad; 
--red_300_1c:#c3937c1c; 
--teal_400:#10b981; 
--black_900_23:#00000023; 
--gray_100_ae:#f3f3f3ae; 
--black_900:#000000; 
--red_300_d3:#c3937cd3; 
--blue_gray_800:#2f3e52; 
--red_300_28:#c3937c28; 
--blue_gray_900_63:#292d3263; 
--gray_900_02:#111827; 
--red_300_47:#c3937c47; 
--gray_600_02:#7f7f7f; 
--gray_500:#a0a0a0; 
--gray_600_01:#a57761; 
--blue_gray_400:#7d8390; 
--orange_A700:#ff5f00; 
--gray_900:#1e2126; 
--gray_900_01:#232323; 
--red_300_01:#ea7b7b; 
--light_green_100_ba:#ead9c9ba; 
--gray_600_04:#6e6e6e; 
--gray_300:#e3e4e5; 
--gray_600_03:#6b7280; 
--gray_300_02:#dee2e6; 
--gray_300_01:#e5e5e5; 
--gray_100:#fbf8f1; 
--white_A700_00:#ffffff00; 
--black_900_33:#00000033; 
--red_300_2b:#c3937c2b; 
--black_900_38:#00000038; 
--white_A700_7a:#ffffff7a; 
}