.rotate {
  transform: rotate(45deg);
}

.textCercle {
  position: absolute;
  height: 510px;
  z-index: 99999;
  margin: auto auto;
  top: -20%;
  transform: translate(10px);
}


.textCercle-2 {
  width: 320px;
  height: 350px;

}

.colorOfthiPage {
  background-color: #EAD9C9;

}

.texto {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.custom-swiper-container {
  height: 25%;
  /* Set the height to 25% of the parent's height */
  right: 28%;
  /* Adjust the right position */
}

.absolute {
  position: absolute !important;
}

.overrideHeight {
  height: 100% !important;
}

.navbar-position-top {
  position: absolute;
  top: 1% !important;
  width: 100%;
  z-index: 999;
}

.fullSize {
  width: 100vw;
  height: 100vh;
}

.fullScreen {
  width: 100vw;
  height: 480px;
}

.fullWidth {
  width: 100%;
  height: 100%;
}

.position2 {
  transform: translateX(100%);
}

.noScroll {
  overflow: hidden;

}

.rotation-position {
  transform: rotate(190);

}

.transitioned {
  transform: translateY(-85%);
  transition: transform 5s ease;
}

.transformToY {
  transform: translateY(-200%);
}

.swiper-container-vertical {
  transform: rotate(-90deg);
  transform-origin: right top;
}